<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <div>
        <div>Nome do product:</div>
        <div>Valor: <span>20,00</span></div>
        <div>Data de entrega: <span>16/07/2021</span></div>

        <div>Produto</div>
        <div>url do produto</div>

        <div>Descrição</div>
        <div>
            <textarea>Descrição dos produtos</textarea>
        </div>

        <div>
            <img src=""/>
        </div>
    </div>
</body>
</html>